.ks {
    font-family: BarlowRegular, -apple-system, sans-serif;
    background-color: #F3A098;
    color: #1B262D;
}

.ks-txt-center {
    text-align: center;
}

.ks-header-bar {
    background-color: #1B262D;
    text-transform: uppercase;
    height: 30px;
    line-height: 18px;
    letter-spacing: 0.86px;
    padding-top: 7px;
    padding-bottom: 5px;
    color: #ffffff;
    font-weight: 500;
    font-size: 12px;
    opacity: 1;
}

.ks-logo-01 {
    margin-bottom: 20px;
}

.ks-header-01 {
    font-size: 44px;
    line-height: 48px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 0.69px;
    font-family: Barlow, -apple-system, sans-serif;
}

.ks-header-02 {
    color: #1B262D;
    font-family: BarlowRegular, -apple-system, sans-serif;
    font-size: 34px;
    letter-spacing: 2.55px;
    line-height: 44px;
    margin-bottom: 10px;
    font-weight: bold;
}

.ks-landing {
    font-size: 20px;
    padding-bottom: 50px;
    margin-top: 50px;
}

.ks-landing .ks-paragraph {
    margin-bottom: 30px;
}

.ks .btn {
    border-radius: 0px;
}

.ks-landing .ks-btn-landing {
    text-transform: uppercase;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 2px solid #1B262D;
    margin-bottom: 30px;
    color: #1B262D;
    padding: 0;
    height: 60px;
    line-height: 56px;
    font-size: 20px;
    font-family: BarlowRegular, -apple-system, sans-serif;
    font-weight: bold;
}

.ks-landing .ks-btn-landing:hover {
    background-color: inherit;
    color: inherit;
}

.ks-social {
    margin-bottom: 0;
}

.ks-social-link {
    color: inherit;
}

.ks-social-link:hover {
    color: inherit;
    text-decoration: none;
}

.ks-social-link .ks-ico-social {
    font-size: 35px;
    padding: 6px;
    margin-right: 12px;
}

.ks .ks-showroom {
    padding: 0;
    margin: 0;
    width: 100%;
}

.ks-modal .modal-content {
    border-radius: 0;
    padding: 10px 20px 40px;
    margin: 0;
    width: 100%;
}

.ks-modal .ks-close {
    height: 44px;
    width: 44px;
    line-height: 44px;
    font-size: 24px;
    color: #1B262D;
    opacity: 1;
}

.ks-modal label {
	height: 18px;
    color: #1B262D;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.86px;
    line-height: 18px;
    display: block;
    text-transform: uppercase;
}

.ks-modal input {
    height: 44px;
    border: 1px solid #D3D3D3;
    background-color: #FFFFFF;
    display: block;
    margin-bottom: 40px;
    width: 100%;
}

.ks-modal .clear .button {
    height: 60px;
    width: 100%;
    border: 2px solid #000000;
    background-color: #1B262D;
    color: #fff;
    text-transform: uppercase;
    font-family: BarlowRegular, -apple-system, sans-serif;
    font-weight: bold;
}

/* Mailchimp nonsense */
.ks .mc-field-group {
    position: relative;
}

.ks #mc_embed_signup input.mce_inline_error {
}

.ks #mc_embed_signup div.mce_inline_error { /*! margin: 0 0 1em 0; */
    margin: 0;
    background-color: transparent;
    font-weight: normal;

    position: absolute;
    top: 77px;
    padding: 0;
    z-index: 1;
    display: inline;
    color: #F70C0C;
    font-size: 12px;
    line-height: 18px;
}

@media (min-width: 576px) {
    .ks-social-link .ks-ico-social {
        font-size: 50px;
        padding: 12px;
        margin-right: 18px;
    }
}

@media (min-width: 768px) {
    .ks-header-01 {
        font-size: 64px;
        line-height: 72px;
        letter-spacing: 1px;
    }

    .ks-header-02 {
        margin-bottom: 20px;
    }

    .ks-modal .ks-text {
        margin-bottom: 30px;
    }

    .ks-modal .modal-content {
        padding: 10px 60px 20px;
    }

    .ks-modal .modal-dialog {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .ks-header-bar {
        font-size: 14px;
        height: 30px;
        line-height: 18px;
    }
}

@media (min-width: 1200px) {
    .ks-landing {
        margin-top: 220px;
    }
}
